<h1>Currency pairs</h1>


<ul>
    <% @currencies_hash.each do |abbreviation, currency| %>
      <li>
        <a href = "/dynamic/:from_currency">Convert <%= abbreviation%> to...</a>
      </li>
    <% end %>
</ul> %>
